*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: cadetblue;
    min-height: 100vh;
    border: 10px solid black;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 50px;
    color: rgb(3, 3, 52);
    font-weight: bold;
    
    text-transform: uppercase;
}
.top_section h4{
    font-size: 30px;
    text-align: end;
}
.image{
    border-radius: 50%;
    overflow: hidden;
}
.image,img{
    width: 300px; 
    height: 320px;

}
.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.last_section{
    margin: 50px 0;
}
.last_section h2{
    margin-bottom: 20px;
}
.last_section ul{
    margin-left: 50px;
}
.last_section li{
    margin-bottom: 15px;
    font-size: x-large;
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: end;
}